* {
    padding: 0%;
    margin: 0%;
    font-family: Hanken Grotesk , sans-serif;
}

.main_container {
    height: 100vh;
    width: auto;
    background-color:  hsl(241, 100%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 40rem;
    width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color:hsl(221, 100%, 96%);
     border-radius: 25px;
}

/* ------------Result Section-------------- */
.container_card_one {
    height: 40rem;
    width: 27.5rem;
    background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%));;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.your_result{
    height: 9rem;
    width: 22rem;
    font-size: 2rem;
    font-weight: 500;
    color: hsl(221, 100%, 96%, 0.8);;
    display: flex;
    align-items: center;
    justify-content: center;

}

.total_score{
    height: 20rem;
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.circle {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background: linear-gradient(
        hsl(256, 72%, 46%),
        hsla(241, 72%, 46%, 0));;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5.5rem;
    color: hsl(0, 0%, 100%);
}

#out_of {
    font-size: 1.2rem;
    color: hsl(221, 100%, 96%, 0.7);
}

.great{
    height: 6rem;
    width: 22rem;
    color: hsl(0, 0%, 100%);
     font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;


}

.appreciation{
    height: 13rem;
    width: 22rem;
    color: hsl(221, 100%, 96%, 0.7);
    font-size: 1.5rem;
    text-align: center;

}


/* ------------Summary Section------------ */
.container_card_two {
    height: 40rem;
    width: 27.5rem;
    background-color:hsl(221, 100%, 96%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary {
    height: 7rem;
    width: 22rem;
    font-size: 1.875rem;
    font-weight: 600;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 2rem;
}


.subjects {
    height: 4rem;
    width: 22rem;
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icon {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;

}

.subject_name {
    height: 4rem;
    width: 13rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    padding-left: 1rem;
   

}

.score {
    height: 4rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#marks {
    color: black;
    font-weight: 700;
    margin-right: 0.4rem;
    font-size: 16px;
}

#total_marks {
    color: hsl(224, 30%, 27%, 0.5);
    font-weight: 700;
    font-size: 16px;
}


#one {
    color: hsl(0, 100%, 67%);

}

#two {
    color: hsl(39, 100%, 56%);

}

#three {
    color: hsl(166, 100%, 37%);

}

#four {
    color: hsl(234, 85%, 45%);

}

#reaction {
    
    background-color: hsl(0, 100%, 67%, 0.1);
}

#memory {
    
    background-color: hsl(39, 100%, 56%, 0.1);
}

#verbal {
    
    background-color: hsl(166, 100%, 37%, 0.1);
}

#visual {
    
    background-color: hsl(234, 85%, 45%, 0.1);
}

#icon_reaction {
    background-image: url("assets/images/icon-reaction.svg");
    background-size: cover;
}

#icon_memory {
    background-image: url("assets/images/icon-memory.svg");
    background-size: cover;
}

#icon_verbal {
    background-image: url("assets/images/icon-verbal.svg");
    background-size: cover;
}

#icon_visual {
    background-image: url("assets/images/icon-visual.svg");
    background-size: cover;
}



.continue {
    height: 10rem;
    width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    height: 4rem;
    width: 20rem;
    border-radius: 50px;
    border: none;
    color: hsl(221, 100%, 96%);
    font-size: 1rem;
    font-weight: 600;
    background-color: hsl(224, 30%, 27%);;
}

button:active{
    background-color: hsl(234, 85%, 45%);
}



/* --------Adding media queries for responsiveness---------- */
@media screen and (max-width: 768px){
    .main_container {
        height: auto;
    }

    .container {
       height: 100%;
       width: 100%;
       flex-direction: column;
    }

    .container_card_one {
        width: 100%;
        height: auto;
        min-height: 25rem;
        border-radius: 0 0 25px 25px;
    }

    .container_card_two {
        height: auto;
        width: 100%;
        min-height: 35rem;
    }

    .your_result {
        width: 100%;
    }

    .total_score {
        width: 100%;
    }

    .great {
        width: 100%;
    }

    .appreciation {
        width: 90%;
    }

    .summary {
        width: 85%;
    }

    .subjects {
        width: 85%;
    }

    .continue {
        width: 90%;
    }

    button {
        width: 80%;
    }

}

@media screen and (max-width: 480px) {

    .container_card_one {
        min-height: 22rem;
    }

    .your_result {
        height: 5rem;
        font-size: 1.5rem;
    }

    .total_score {
        height: 14rem;
    }

    .circle {
        width: 12rem;
        height: 12rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    #out_of {
        font-size: 1rem;
    }

    .great {
        height: 4rem;
        font-size: 1.7rem;
    }

    .appreciation {
        height: auto;
        padding-bottom: 2rem;
        font-size: 1rem;
    }

    .container_card_two {
        min-height: 32rem;
    }

    .summary {
        width: 85%;
        height: 5rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    .subjects {
        width: 85%;
        margin: 0.4rem;
    }

    .subject_name {
        width: 12rem;
        font-size: 16px;
    }

    .score {
        width: 5rem;
    }

    .continue {
        width: 85%;
        height: 7rem;
    }

    button {
        height: 3.5rem;
        width: 100%;
    }
}